* {
  box-sizing: border-box;
}

body {
  background-color:rgb(95, 99, 110);
}

.gridContainer {
  background-color: rgb(201, 193, 193);
  width: 90%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}